body {
  margin: 0;
  background-color: #171b28;
  font-family: "Oswald";
}

.logo {
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  margin-left: 10px;
}

.main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  margin-top: 10px;
}

a {
  color: #f2f5ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  min-width: 600px;
  height: 600px;
  border: 0 !important;
}

.heart {
  color: red;
}

.chat-header {
  display: flex;
  background: #f1f0f0;
  border-radius: 4px 4px 0 0;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #cacaca;
}

.chat-container {
  display: flex;
  width: 100vh;
  min-height: 450px;
  align-items: stretch;
  flex-direction: column;
}

.question-container {
  display: flex;
  width: 100vh;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50px;
  border-radius: 20px;
  background: #d6d0fa;
  margin-left: 10px;
}

.answer-container {
  display: flex;
  width: 100vh;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #36558F !important;
}

.credits {
  color: white;
  font-weight: 200;
  text-align: center;
  margin: 0;
  font-size: 0.75em;
}